<div class='page-header'>
    <h1>About Lifelog</h1>
</div>

<markdown>
What were you doing two years ago on Thursday? Most people couldn't tell you
either. Lifelog.io is a micro-journaling platform that allows you to store small
snippets of your life, be it a micro-journal entry, photo, video, or whatever
else. Later, you can return to those snippets and relive those moments. Not only
does lifelog give you visibility into how you spend each and every day, but also
how you've spent the last year or more of your life.
</markdown>

<h2>Behind the Scenes</h2>
<markdown>
Lifelog is written and maintained by the people below along with the lifelog
core committers.
</markdown>

<div class='row'>
    <div class='col-md-2'>
        <a href='http://www.fsareshwala.com'><img src='/images/faraaz.png' class='pull-left img-thumbnail'/></a>
    </div>
    <div class='col-md-4'>
        <markdown>
[Faraaz Sareshwala][1]
--------------------------------------------------------------------------------
[Faraaz Sareshwala][1] had already been micro-journaling for years in a simple text
file before he started working on lifelog. Thinking others may benefit from
tracking their daily tasks through micro-journaliing, he created lifelog as a
side project in the fall of 2013. During the day, he works for
[Quantcast](http://www.quantcast.com) on the Big Data Platforms team continually
designing and scaling the realtime, distributed, and fault-tolerant storage and
processing platform.  At peak, his code helps handle over 800,000 transactions
per second.

[1]: http://www.fsareshwala.com
        </markdown>
    </div>
    <div class='col-md-6'>
        <h2><span class='glyphicon glyphicon-user'></span> <a href='#/open_source'>You</a></h2>
        <markdown>
While lifelog is provided on lifelog.io for anyone to use, it is also open
source software that anyone can read and contribute to. If you see something
lacking within lifelog and you know how to program, then by all means, feel free
to [contribute your ideas][1]. If you don't know how to program, you can still
contribute. Check out the [open source][1] page to learn how.

[1]: #/open_source
        </markdown>
    </div>
</div>
