<div ng-hide='loggedIn'>
    <div class='page-header'>
        <h1>Lifelog</h1>
    </div>

    <p>What were you doing two years ago on Thursday? Most people couldn't tell you
    either. Lifelog is a micro-journaling application to help you track your life,
    accomplishments, and progress through the various tasks that make up your day.
    It can help you answer questions like the one above.</p>

    <p>You can get a preview of what it's like to lifelog using the
    demonstration interface below. Keep in mind that changes won't be saved
    until you sign in to your own account. You can get started micro-journaling
    with lifelog by <a href='#/signup'>signing up</a>.</p>
</div>

<div ng-init='load()'>
    <div class='col-md-3 pull-right'>
        <div class='panel panel-success'>
            <div class='panel-heading'>Did you know?</div>
            <div class='panel-body'>
                If adding entries through the website isn't part of your
                natural workflow, we have many other methods for you to choose
                from. Check out all of our <a href='#'>applications</a> to find
                one that works for you and your lifestyle.
            </div>
        </div>
    </div>

    <div class='col-md-3' ng-repeat='(day, entryList) in entriesByDay'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <span class='glyphicon glyphicon-calendar'></span>
                {{ day }}
            </div>
            <div class='panel-body'>
                <form ng-submit='addEntry()'>
                    <input type='text' placeholder='What did you do on this day?' ng-model='newContent' class='form-control input-sm'>
                </form>
            </div>
            <ul class='list-group'>
                <li class='list-group-item' ng-mouseenter='hoveringOnClose=true' ng-mouseleave='hoveringOnClose=false' ng-repeat='entry in entryList'>
                    {{ entry.content }}
                    <span class='text-muted' ng-repeat='tag in entry.tags'>
                        #<span ng-repeat='(href, value) in tag | splitTag'><span ng-if='!$first'>/</span><a href='#/tag/{{ href }}'>{{ value }}</a></span>
                    </span>
                    <button type='button' ng-show='hoveringOnClose' ng-click='deleteEntry()' class='close pull-right'>&times;</button>
                </li>
            </ul>
        </div>
    </div>
</div>
