<div ng-hide='loggedIn'>
    <div class='page-header'>
        <h1>Lifelog</h1>
    </div>

    <p>What were you doing two years ago on Thursday? Most people couldn't tell
    you either. Lifelog.io is a micro-journaling platform that allows you to
    store small snippets of your life, be it a micro-journal entry, photo,
    video, or whatever else. Later, you can return to those snippets and relive
    those moments. Not only does lifelog give you visibility into how you spend
    each and every day, but also how you've spent the last year or more of your
    life.
    </p>

    <p>You can get started micro-journaling with lifelog by
    <a href='#/signup'>signing up</a>.</p>
</div>

<div ng-show='loggedIn' ng-init='load()'>
    <div ng-show='viewingTag'>
        <ol class='breadcrumb' >
            <span class='glyphicon glyphicon-tag'></span><span> Viewing tag: #</span>
            <li ng-repeat='(href, value) in tagFilter | splitTag'>
                <a href='{{ href }}'>{{ value }}</a>
            </li>
        </ol>
    </div>

    <div class='col-md-4' ng-repeat='element in entriesList | sortEntries'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <span class='glyphicon glyphicon-calendar'></span>
                {{ element.day }}
            </div>
            <div class='panel-body'>
                <form ng-submit='addEntry()'>
                    <input type='text' placeholder='What did you do on this day?' ng-model='newContent' class='form-control input-sm'>
                </form>
            </div>
            <ul class='list-group'>
                <li class='list-group-item' ng-mouseenter='hovering=true' ng-mouseleave='hovering=false' ng-dblclick='editing=true' ng-repeat='entry in element.entryList'>
                    <div ng-show='editing'>
                        <form ng-submit='editEntry(); editing=false'>
                            <input type='text' ng-model='entry.original_content' class='form-control input-sm'>
                        </form>
                    </div>
                    <div ng-hide='editing'>
                        <span>{{ entry.content }}</span>
                        <span class='text-muted' ng-repeat='tag in entry.tags'>
                            #<span ng-repeat='(href, value) in tag | splitTag'><span ng-if='!$first'>/</span><a href='#/tag/{{ href }}'>{{ value }}</a></span>
                        </span>
                        <button type='button' ng-show='hovering' ng-click='deleteEntry()' class='close pull-right'>&times;</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
